.venv/
/.idea
*.pyc
cfg/match_history.toml
cfg/adaptive_state.json
latest_brawler_data.json
cfg/match_history.toml
test.py
/debug_frames
/datasets
/runs
logs/
venv/
/dist
/build
main.spec
PylaAi-XXZ.zip
start.bat
run.py
web_ui/server.py
web_ui/static/main.js
web_ui/static/style.css
web_ui/templates/index.html
